# Конфигурация API
LOLZ_TOKEN=your_token_here
API_DOMAIN=api.zelenka.guru

# Настройки прокси (опционально)
PROXY_URL=

# Настройки задержек
MIN_DELAY=3
MAX_DELAY=5

# URL потока
THREAD_URL=https://lolz.live/threads/0000000/

# Настройки сообщений
MESSAGE_DAYS=3
MESSAGE_BUY_URL=https://lolz.live/threads/0000000/ 